.root {
  flex-grow: 1;
}

.fileName {
  margin: 8px;
  font-weight: bold;
}

.toolbar{
  .buttons_container {
    margin-left: auto;
    margin-right: 0;
    .button {
      margin: 8px;
    }
  }
}
