.mapChart {

  .header {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .title {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

}



