.container {
  border: 1px solid black;
  border-radius: 5px;

  .header {
    display: flex;
    flex-direction: row;
    padding: 10px;

    .title {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}

